body{
    background-color: #d0e4fe;
}
hr{
    border-top: 3px solid #171717;
}
h1, h3{
    text-align: center;
    margin: 0 auto;
    color: #06066b;

}
p{
    color: black;
}
table{
    text-align: center;
    margin-left: 5%;
    margin-right: 10%;
    width: 90%;
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    text-align: center;
    padding: 10px;
    border: 1px solid black;

}